# files and directories to ignore

data/voxceleb_data/
data/train
data/val
functions.py
.vscode/
__pycache__/
predict.py
explore_data.py
audio_analysis.py
cnn.py
evaluate.py
preprocess_audio.py
model.h5
process_files.py
plots


# remove all images from test set 
data/test/

